/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Variables */
:root{
    --clr-white: #FFF;
    --clr-black: #000;
    --clr-navy-950: #0E1323;
    --clr-navy-900: #1C204B;
    --clr-navy-800: #33397A;
    --clr-navy-200: #BBC0FF;
    --clr-orange: #FF8B64;
    --clr-purple-700: #7335D2;
    --clr-purple-600: #5747EA;
    --clr-purple-500: #7078C9;
    --clr-blue-300:  #55C2E6;
    --clr-pink-400: #FF5E7D;
    --clr-green-400: #4BCF82;
    --clr-yellow-300: #F1C75B;
    --clr-grey-200: #D8D8D8;

    --spacing-0: 0rem;
    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General style, mobile */
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-navy-950);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 5rem var(--spacing-300);
    gap: var(--spacing-300);
}
.main-card{
    background-color: var(--clr-navy-900);
    border-radius: 15px;
}
.user-card{
    background-color: var(--clr-purple-600);
    border-radius: 15px;
    padding: var(--spacing-400);
    display: flex;
    gap: var(--spacing-300);
    align-items: center;
    justify-content: center;
}
.user-card img {
    width: 4rem;
    border: .1875rem solid var(--clr-white);
    border-radius: 50%;
}
.user-card p{
    color: var(--clr-navy-200);
    font-size: .9375rem;
    line-height: 1.125rem;
}
.user-card h1{
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
}
#time-categories{
    padding: var(--spacing-300);
    display: flex;
    justify-content: space-around;
    
}
#time-categories button{
    font-family: 'Rubik', sans-serif;
    border: 0;
    background-color: transparent;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
    color: var(--clr-purple-500);
    transition: scale .2s ease-in-out;
    width: 100%;
    max-width: 6.8125rem;
}
#time-categories button:hover{
    color: var(--clr-white);
    scale: 1.07;
    cursor: pointer;
}
#time-categories button.active{
    color: var(--clr-white);
}
.category-card{
    border-radius: 15px;
    color: var(--clr-white);
}
.category-card__tab{
    background-color: var(--clr-orange);
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: row-reverse;
    padding-right: .875rem;
    height: 5rem;
    overflow: hidden;
}
#play-card .category-card__tab{
    background-color: var(--clr-blue-300);
}
#study-card .category-card__tab{
    background-color: var(--clr-pink-400);
}
#exercise-card .category-card__tab{
    background-color: var(--clr-green-400);
}
#social-card .category-card__tab{
    background-color: var(--clr-purple-700);
}
#self-care-card .category-card__tab{
    background-color: var(--clr-yellow-300);
}
.category-card__tab img{
    position: relative;
    bottom: .625rem;
}
#exercise-card .category-card__tab img{
    scale: .68;
    position: relative;
    bottom: .8125rem;
    left: 1.25rem;
}
#social-card .category-card__tab img{
    scale: 1.2;
    position: relative;
    bottom: .3125rem;
}
#self-care-card .category-card__tab img{
    scale: .8;
    position: relative;
    bottom: 1.25rem;
    left: .625rem;
}
.category-card__info{
    background-color: var(--clr-navy-900);
    border-radius: 15px;
    padding: var(--spacing-300);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    margin-top: -2.625rem;
    position: relative;
}
.category-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-row .category{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3125rem;
}
.category-row img{
    height: 100%;
}
.info-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-200);
}
.info-row .hours{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.375rem;
}
.info-row .last-period{
    font-size: .9375rem;
    line-height: 1.125rem;
    color: var(--clr-navy-200);
    text-align: right;
}
.attribution {
    font-size: .6875rem;
    text-align: center;
    color: var(--clr-navy-200);
    padding: .625rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 40.625rem) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .grid-container{
        grid-template-columns: repeat(3, 11.75rem);
        grid-template-rows: repeat(3, 13.3125rem);
        max-width: 38.25rem;
        padding: 0;
    }
    .main-card{
        grid-column: 1 / 4;
        grid-row: 1/2;
    }
    .category-card__tab img{
        scale: .6;
        bottom: 1.3rem;
        left: 1rem;
    }
    #exercise-card .category-card__tab img{
        scale: .45;
        position: relative;
        bottom: 1.5rem;
        left: 2.1875rem;
    }
    #social-card .category-card__tab img{
        scale: .8;
        position: relative;
        bottom: .9375rem;
        left: .75rem;
    }
    #self-care-card .category-card__tab img{
        scale: .55;
        position: relative;
        bottom: 1.6875rem;
        left: 1.25rem;
    }
    .category-card__info{
        margin-top: -3.2rem;
    }
    .user-card{
        justify-content: flex-start;
    }
    #time-categories{
        justify-content: center;
        text-align: center;
        gap: .5rem;
    }
    .category-card__info .ellipsis-icon{
        scale: .7;
    }
    .info-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .info-row .hours{
        font-size: 2.9rem;
        line-height: 4.125rem;
    }
    .info-row .last-period{
        font-size: .9rem;
    }
    .attribution{
        position: absolute;
        bottom: .625rem;
    }
}

@media (min-width: 67.5rem){
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 15.25rem);
        max-width: 69.75rem;
        padding: 0 var(--spacing-400);
    }
    .main-card{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .user-card{
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-500);
        height: 67%;
    }
    .user-card__text{
        width: 60%;
    }
    .user-card__text h1{
        font-size: 2.5rem;
        line-height: 2.9375rem;
    }
    .user-card img{
        width: 4.875rem;
    }
    #time-categories{
        flex-direction: column;
        height: 33%;
        justify-content: space-between;
    }
    #time-categories button{
        text-align: left;
    }
    .category-card__tab img{
        scale: .9;
        bottom: .8rem;
        left: .2rem;
    }
    #exercise-card .category-card__tab img{
        scale: .7;
        position: relative;
        bottom: .8rem;
        left: 1.2rem;
    }
    #social-card .category-card__tab img{
        scale: 1.2;
        position: relative;
        bottom: .3rem;
        left: -.1rem;
    }
    #self-care-card .category-card__tab img{
        scale: .8;
        position: relative;
        bottom: 1.1rem;
        left: .5rem;
    }
    .category-card__info{
        gap: var(--spacing-300);
        height: 12.4375rem;
        margin-top: -2.1875rem;
    }
    .category-card__info .ellipsis-icon{
        transform-origin: right center;
        scale: .25;
    }
    .info-row .hours{
        font-size: 3.5rem;
        line-height: 4.125rem;
    }
    .info-row .last-period{
        font-size: .9375rem;
    }
}